<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class= "notes"> <p> A </p>
</div>
<div class= "notes"> <p> A# </p>
</div>
<div class= "notes"> <p> B </p>
</div>
<div class= "notes"> <p> C </p>
</div>
<div class= "notes"> <p> C# </p>
</div>
<div class= "notes"> <p> D</p>
</div>
<div class= "notes"> <p> D# </p>
</div>
<div class= "notes"> <p> E </p>
</div>
<div class= "notes"> <p> F </p>
</div>
<div class= "notes"> <p> F# </p>
</div>
<div class= "notes"> <p> G </p>
</div>
<div class= "notes"> <p> G# </p>
</div>


</body>
</html>
