<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class= "notes"> <p>&#128028 A</p>
</div>
<div class= "notes"> <p>&#128038 Bb</p>
</div>
<div class= "notes"> <p>&#128059 B</p>
</div>
<div class= "notes"> <p>&#128046 C</p>
</div>
<div class= "notes"> <p>&#128047 C#</p>
</div>
<div class= "notes"> <p>&#128054 D</p>
</div>
<div class= "notes"> <p>&#128025 D#</p>
</div>
<div class= "notes"> <p>&#128024 E</p>
</div>
<div class= "notes"> <p>&#128056 F</p>
</div>
<div class= "notes"> <p>&#128058 F#</p>
</div>
<div class= "notes"> <p>&#128053 G</p>
</div>
<div class= "notes"> <p>&#128018 G# </p>
</div>
<br>
<button id="start-game">Start Game</button>

</body>
</html>
