<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="C" class="notes"> <p>&#128046 C</p>
</div>
<div id="C#" class="notes"> <p>&#128047 C#</p>
</div>
<div id="D" class="notes"> <p>&#128054 D</p>
</div>
<div id="D#" class="notes"> <p>&#128025 D#</p>
</div>
<div id="E" class="notes"> <p>&#128024 E</p>
</div>
<div id="F" class="notes"> <p>&#128056 F</p>
</div>
<div id="F#" class="notes"> <p>&#128058 F#</p>
</div>
<div id="G" class="notes"> <p>&#128053 G</p>
</div>
<div id="G#" class="notes"> <p>&#128018 G# </p>
</div>
<div id="A" class= "notes"> <p>&#128028 A</p>
</div>
<div id="A#" class="notes"> <p>&#128038 Bb</p>
</div>
<div id="B" class="notes"> <p>&#128059 B</p>
</div>
<br>
<button id="start-game">Start Game</button>
<div id="selected-notes"></div>

</body>
</html>
